@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}
.topnav{
    /* position: absolute; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height:100px;
    background-color:#1F448A;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.innerdiv{
    margin-right: 15%;

}
ul li{
    padding: 30px 20px 0px 20px;
    margin: 2px;
    color: aliceblue;
    font-family: 'Proza Libre', sans-serif;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    
}
.kdrive{
    margin: 30px 0px 0px 10%;
    color:aliceblue;
    font-family: 'Proza Libre', sans-serif;
}
ul li:hover{
    background-color:black;
}
.comp1 button{
    margin-top: 10px;
    margin-left: 2px;
    background-color: #1F448A;
    border-radius: 3px;
    color: aliceblue;
    width: 100px;
    height: 35px;
}
.comp2 button{
    margin-top: 10px;
    margin-left: 2px;
    background-color: #1F448A;
    border-radius: 3px;
    color: aliceblue;
    width: 100px;
    height: 35px;
}
.upcm{
    margin:0px 200px;
    height: 600px;
    /* background-color:rebeccapurple; */
}
.comp1{
    /* background-color: red; */
    height: 180px;
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.comp1 .cd{
   padding-right: 10%;
}
.comp2{
    /* background-color: red; */
    height: 180px;
    margin-top: 20px;
    display: flex;
}
.comp2 .cd{
    padding-right: 10%;
 }
.cd h2,p{
    padding: 5px;
    /* background-color: antiquewhite; */
    width: 250px;
}
.reci{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reccom{
    /* margin:0px 200px; */ 
     background-color:rgb(235, 228, 222);
    width: 100%;
}
.box img{
   width: 250px;
   height: 100px;
   padding: 30px;
   margin-top: 80px;
}
.reccom h1{
    text-align: center;
    padding-top: 30px;
    color: #1F448A;
}
.mcon h1,h5{
    color: #1F448A;
  padding-top: 10px;
}
.about{
    background-color: black;
    text-align: center;
    /* height: 250px; */
    width: 100%;
    padding-top: 20px;
}
h1,p,.abc {
    color: white;
}
#an{
    display: flex;
    width: 550px;
    margin-left: 10px;
    /* background-color: yellow; */
}
#an a{
    text-decoration: none;
    padding: 1px;
}
#em{
    border: none;
    background: none;
    width: 450px;
    height: 50px;
    color: white;


}
.about{
    display: flex;
    justify-content: space-evenly;
    /* height: 500px; */
}
.abc{
    display: inline;
    /* background-color: blue; */
}
.maiinp{
    /* background-color: red; */
    width: 100px;
    margin:20px 0px 20px 30px;

}
.abutt button{
    background-color:#1F448A;
    border-radius: 5px;
}
.abutt{
    margin:20px 0px 20px 20px;
    width: 100px; 
    /* background-color: red; */
    
}
.add{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 300px;
    /* background-color: yellow; */
    /* background-color: rebeccapurple; */
}
.addr{
    color: white;
    /* background-color: red; */
    width: 100px;
    margin-right: 10px;
}
.kar{
    /* background-color: yellow; */
    width: 250px;
    margin-top: 30px;
    text-align: start;
    color: white;
    font-weight: lighter ;

}
.comti{
    display: inline;
    width: 400px;
    /* background-color: red; */
}
.ke{
    color: white;
    text-align: start;
    padding: 10px 0px 0px 30px;
    font-weight: lighter;
}

